.btn-add-to-cart {
    float: right;    
    text-transform: uppercase;
    background-color: rgb(41, 41, 41);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    margin: 12px 0px 0px 0px;
};