.modal-smooth-second {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    transform: translateY(-19px);
}

.modal-second {
    width: 600px;
    height: 200px;
    border-radius: 2px;
    background-color: rgb(85, 85, 85);
    display: block;
    margin: 0 auto;
    transform: translateY(100px);

    

    & .modal-second-header {
        border-radius: 2px 2px 0px 0px;
        width: 600px;
        height: 50px;
        background-color: rgb(61, 61, 61);
        display: inline-block;
        padding-top: 5px;

        & b {
            float: left;
            color: white;
            margin: 10px 0px 0px 20px;
        }

        & button {
            float: right;
            // padding-top: 10px;
            margin-right: 20px;
            background-color: rgb(61, 61, 61);
            border: none;
            transform: translateY(3px);
            font-size: 25px;
            color: rgb(0, 0, 0);
        }
    }

    & .modal-second-content {
        & p {
            color: white;
        }
    }

    & .modal-second-btn {
        & button {
            width: 100px;
            height: 40px;
            margin-left: 10px;
            background-color: rgb(46, 46, 46);
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 700;
            outline: none;
        }
    }
}