.navbar {
    background-color: rgb(29, 29, 29);
    height: 50px;
    width: 100%;

    & .navbar-icons {
        float: left;
        margin-top: 10px;
        margin: 10px 0px 0px 100px;

        & img {
            background-color: white;
            width: 30px;
            height: auto;
            border-radius: 10px;
            margin-right: 10px;
        }
    }

    & .navbar-login {
        float: right;
        color: white;
        margin-top: 15px; 
        margin-right: 30px;

        & a {
            color: white;
            text-decoration: none;
        }
    }

    & .navbar-cart {
        float: right;
        margin: 10px 100px 0px 0px;

        & img {
            width: 30px;
            height: auto;
            border-radius: 10px;
        }
    }
}

