.latestMusicCard {
    display: inline-block;
    width: 210px;
    height: 400px;
    background-color: white;

    & img {
        width: 210px;
        height: 200px;
    }

    & .latest-title {
        color: gray;
    };

    & .latest-content {
        text-align: center;
    };


    & .latest-price-block {
        display: inline-block;
        margin-top: 10px;

        & .latest-price {
        float: left;    
        color: red;
        margin-right: 40px;
        };
    };

}