.albomSale {
    display: inline-block;
    width: 210px;
    height: 400px;
    background-color: white;

    & .sale-icon {
        position: absolute;
        width: 70px;
        height: 70px;
    };

    & .sale-image {
        width: 210px;
        height: 200px;
    };


    & .sale-title {
        color: gray;
    };

    & .sale-content {
        text-align: center;
    };

    & .sale-block-price {
        width: 200px;
        display: inline-block;
        margin-top: 10px;

        & .sale-close-price {
            float: left;
            color: red;
            margin-right: 2px;
        };

        & .sale-open-price {
            float: left;
            color: red;
        };
    }
}