.footer {
    margin-top: 30px;
    height: 380px;
    background-color: rgb(51, 51, 51);

    & .footer-up-line {
        width: 100%;
        height: 10px;
        background-color: rgb(24, 24, 24);
    }

    & .footer-content {
        padding-top: 0px;

        & .about {
            margin-left: 10px;
            float: left;

            & .about-us {
                text-align: left;

                & .about-us-title {
                    color: white;
                    font-size: 20px;
                }

                & .about-us-content {
                    color: white;

                    & span {
                        font-weight: 700;
                    }
                }
            }

            & .socialize {
                float: left;

                & .socialize-title {
                    font-size: 20px;
                    color: gray;
                }

                & .socialize-link-icons {

                    & div {
                        display: inline-block;
                    }

                    & div img{
                        width: 30px;
                        height: 30px;
                        background-color: white;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }
            }
        }

        & .archives {
            float: left;

            & .archives-title {
                margin-right: 30px;
                font-size: 20px;
                color: gray;
            }

            & .archives-date {
                color: gray;
                text-align: left;
                margin: 50px 0px 0px 100px;

                & p {
                    line-height: 10px;
                }
            }
        }

        & .popular-posts {
            float: left;
            margin-left: 100px;

            & .popular-posts-title {
                float: left;
                font-size: 20px;
                color: gray;
            }

            & .popular-posts-block {
                color: gray;

                & .popular-posts-image {
                    float: left;
                    width: 100px;
                    height: 100px;
                }

                & .popular-posts-album-title {
                    float: left;
                    color: white;
                    font-weight: 700;
                    margin-left: 3px;
                }

                & .popular-posts-album-comment {
                    margin-left: 1px;

                }
            }
        }

        & .search-block {
            float: left;
            & .search {
                margin-left: 100px;
                & .search-title {
                    text-align: left;
                    font-size: 20px;
                    color: gray;
                }

                & input {
                    transform: translateX(-40px);
                    width: 220px;
                    height: 40px;
                    background-color: gray;
                    color: white;
                    border: none;
                    padding-left: 20px;
                }
            }

            & .tags {
                margin-left: 100px;
                & .tags-title {
                    text-align: left;
                    font-size: 20px;
                    color: gray;
                }

                & .tags-block-buttons {
                    transform: translateY(-100px);
                    & button {
                        float: left;
                        display: inline-block;
                        width: 100px;
                        height: 20px;
                        background-color: gray;
                        color: white;
                        border: none;
                        margin: 5px;
                    }
                }
            }
        }
    }

    
    & .footer-navbar {
        padding: 0px 0px 10px 0px;
        
        & .footer-links {
            transform: translateY(62px);
            z-index: -1;
            padding: 0px 0px 5px 5px;
            text-align: left;
            background-color: black;
            

            & a {
                text-decoration: none;
                color: white;
                margin-right: 10px;
            }
        }

        & .footer-text {
            transform: translateY(22px);
            text-align: right;
            margin-right: 10px;
            color: white;
        }
    }
}