.modal-smooth-first {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
}

.modal-first {
    width: 600px;
    height: 200px;
    border-radius: 2px;
    background-color: rgb(248, 47, 47);
    display: block;
    margin: 0 auto;
    transform: translateY(100px);  

    & .modal-first-header {
        border-radius: 2px 2px 0px 0px;
        width: 600px;
        height: 50px;
        background-color: rgb(167, 23, 23);
        display: inline-block;
        padding-top: 5px;

        & b {
            float: left;
            color: white;
            margin: 10px 0px 0px 20px;
        }

        & button {
            float: right;
            // padding-top: 10px;
            margin-right: 20px;
            background-color: rgb(167, 23, 23);
            border: none;
            transform: translateY(3px);
            font-size: 25px;
            color: rgb(0, 0, 0);
        }
    }

    & .modal-first-content {
        & p {
            color: white;
        }
    }

    & .modal-first-btn {
        & button {
            width: 100px;
            height: 40px;
            margin-left: 10px;
            background-color: rgb(68, 17, 17);
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 700;
            outline: none;
        }
    }
}

